 body{
    margin:0 auto;
    width : 1150px;
    border-style:solid;
    border-width:2px;
    border-color:black;
}

/* header 영역 */
header{
    min-height:100px;
    display:inline-grid;
    grid-template-columns: 1f, 1f, auto;
}
.logo{
        padding:15px;
        grid-column-start: 1;

}
.logoText{
    grid-column-start: 2;
    padding-top:70px;


}
.logoMenu{

    grid-column-start: 3;

}


.hUl{
    list-style-type: none;
    margin-left:430px;
    margin-top:0px;
}
.hUl li{
    float:left;
    font-weight:bold;
    margin : 5px;
}

/* nav 영역 */

nav {
    background-color:silver;
    height:40px;
    margin-bottom:10px;
    padding-top:10px;
    padding-left:20px;
}
/* main 영역 */
main {
    min-height:500px;


}
/* 좌측 메뉴 영역 */
.main1{
    display:inline-grid;
    grid-template-columns: 225px, 850px;
}
.mOl{
    grid-column-start: 1;
    width:225px;
    height:272px;
    border-style:solid;
    border-width:3px;
    border-color:black;
    padding:0px;
    margin:0 20px;

}
.mOl li{
    list-style-type:none;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color:silver;
    font-style:bold;
    padding:8px;

}

/* 배너 영역 */
.banner {
    grid-column-start: 2;
    width:850px;
    height:272px;
    border-style:solid;
    border-width:3px;
    border-color:black;
}
.bannerText{
    text-align:center;
    margin-top:100px;
}
.squareArea{
    border-style:solid;
    width:200px;
    float:left;
    padding-left:300px;
}
.squre {
    display:inline-block;
    background-color: silver;
    width:30px;
    height:30px;
    text-align: center;
    margin-right:10px;

}
/* main- 상품 영역 */
.pdArea{
    margin:0 40px;
    float:left;
}
.pdimg{
    width:100px;
    height:100px;
    background-color:silver;
    border-radius:10%;
}
.pdtext{
    width:100px;
    margin:5px 0;
    text-decoration-line: underline;
    text-align:center;
}
/* footer 영역 구분 수평선 */
hr {
    border-width:1px;
    border-style:solid;
    border-color:gray;
}


/* footer 영역 */
footer {
    min-height:100px;
}

.fMenu {
    float : left;
    width : 150px;
    min-height : 150px;
    margin-right: 50px;
}

.fTitle {
    font-weight:bold;
}

.fOl {
    list-style-type:none;
}
